{% extends "base.html" %}

{% block content %}
<div>
    <form class="login_form1" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="photo">Приложите фотографию к профилю (желательное отношение 1 к 1)</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
    {{message}}
</form>
<div class="carousel-item active" style="display: flex; justify-content: flex-end">
    {% if current_user.image_profile == "static/img/data/default_avatar.png" %}
    <img class="img-thumbnail" src="static/img/data/default_avatar.png" alt="...">
    {% else %}
    <img class="img-thumbnail"
         src="static/img/users/avatar_{{ current_user.id }}.png" alt="...">
    {% endif %}
</div>
{% endblock %}